@using SampleBlazor.Services

@inject IEmailService EmailService
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button @onclick="SendMail">
    Send Email
</button>

<p>@message</p>

@code {

    private string message = "";

    private void SendMail()
    {
        message = EmailService.SendEmail("test@gmail.com");
    }
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
